{% extends "base.html" %}
{% block body %}
    <h2>Sign In</h2>

    <form action="{{ url_for('.login') }}" method="post">
        {{ form.hidden_tag() }}

        <label class="pt-label" style="width:100%;">
            Username or email address:
            <input type="text" name="username" required pattern=".{5,40}"
                   class="pt-input pt-intent-primary" style="width:100%;"
                   placeholder="Username or email"
                   value="{{ form.username.data if form.username.data else '' }}"/>
        </label>

        <label class="pt-label" style="width:100%;">
            Password:
            <input type="password" name="password" required pattern=".{8,40}"
                   class="pt-input pt-intent-primary" style="width:100%;"
                   placeholder="Password"/>
        </label>

        {% if login_error %}
        <span style="color: red;">{{ login_error }}</span>
        {% endif %}

        <label class="pt-control pt-switch">
            Remember Me
            <input type="checkbox" value="{{ form.remember.data }}" name="remember"/>
            <span class="pt-control-indicator"></span>
        </label>

        <button type="submit" class="pt-button pt-intent-primary">Sign In</button>
    </form>
{% endblock %}
