{% extends "base.html" %}
{% block body %}
    <h2>Create an account</h2>

    <form action="{{ url_for('.register') }}" method="post">
        {{ form.hidden_tag() }}

        <label class="pt-label" style="width:100%;">
            First Name:
            <input type="text" name="first_name" required pattern=".{3,40}"
                   class="pt-input pt-intent-primary" style="width:100%;"
                   placeholder="First Name"
                   value="{{ form.first_name.data if form.first_name.data else '' }}"/>
            {% for error in form.first_name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </label>

        <label class="pt-label" style="width:100%;">
            Last Name:
            <input type="text" name="last_name" required pattern=".{3,40}"
                   class="pt-input pt-intent-primary" style="width:100%;"
                   placeholder="Last Name"
                   value="{{ form.last_name.data if form.last_name.data else '' }}"/>
            {% for error in form.last_name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </label>

        <label class="pt-label" style="width:100%;">
            Username:
            <input type="text" name="username" required pattern=".{5,40}"
                   class="pt-input pt-intent-primary" style="width:100%;"
                   placeholder="Username"
                   value="{{ form.username.data if form.username.data else '' }}"/>
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </label>

        <label class="pt-label" style="width:100%;">
            Email Address:
            <input type="email" name="email" required
                   class="pt-input pt-intent-primary" style="width:100%;"
                   placeholder="Email Address"
                   value="{{ form.email.data if form.email.data else '' }}"/>
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </label>

        <label class="pt-label" style="width:100%;">
            Password
            <span class="pt-text-muted">(<a href="https://volfpeter.github.io/randompassword/" target="_blank">create a safe password</a>)</span>:
            <input type="password" name="password" required pattern=".{8,40}"
                   class="pt-input pt-intent-primary" style="width:100%;"
                   placeholder="Password"/>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </label>

        <label class="pt-label" style="width:100%;">
            Repeat Password:
            <input type="password" name="password2" required pattern=".{8,40}"
                   class="pt-input pt-intent-primary" style="width:100%;"
                   placeholder="Password"/>
            {% for error in form.password2.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </label>

        <button type="submit" class="pt-button pt-intent-primary">Register</button>
    </form>
{% endblock %}
