{% extends "base.html" %}
{% block body %}
    <h2>Request Password Reset</h2>

    {% if not message %}
        <form action="{{ url_for('.request_password_reset') }}" method="post">
            {{ form.hidden_tag() }}

            <label class="pt-label" style="width:100%;">
                Email Address:
                <input type="email" name="email" required
                       class="pt-input pt-intent-primary" style="width:100%;"
                       placeholder="Email Address"
                       value="{{ form.email.data if form.email.data else '' }}"/>
                {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </label>

            <button type="submit" class="pt-button pt-intent-primary">Send reset email</button>
        </form>
    {% else %}
        <label class="pt-label pt-large pt-intent-success">
            {{ message }}
        </label>
    {% endif %}
{% endblock %}
