{% extends "base.html" %}
{% block body %}
    <form action="{{ url_for('.reset', token=token) }}" method="post">
        {{ form.hidden_tag() }}

        <span>Password:</span>
        <input type="password" name="password" required pattern=".{8,40}"/>
        {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br />

        <span>Repeat Password:</span>
        <input type="password" name="password2" required pattern=".{8,40}"/>
        {% for error in form.password2.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <br />

        <input type="submit" value="Send"/>
    </form>
{% endblock %}
