{% extends "base.html" %}
{% block body %}
    <form action="{{ url_for('.reset', token=token) }}" method="post">
        {{ form.hidden_tag() }}

        <label class="pt-label" style="width:100%;">
            Password:
            <input type="password" name="password" required pattern=".{8,40}"
                    class="pt-input pt-intent-primary" style="width:100%;"
                    placeholder="Password"/>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </label>

        <label class="pt-label" style="width:100%;">
            Repeat Password:
            <input type="password" name="password2" required pattern=".{8,40}"
                    class="pt-input pt-intent-primary" style="width:100%;"
                    placeholder="Password"/>
            {% for error in form.password2.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </label>

        <button type="submit" class="pt-button pt-intent-primary">Register</button>
    </form>
{% endblock %}
